.subscription-grid {
    margin-top: 1rem;
    grid-gap: 1rem;

    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    button {
        float: right;
    }
}

.email-list{

    & > div {
        margin-bottom: 0.4em;
        .remove-email-link{
            margin-right: 0.4em;
            img {
                vertical-align: baseline;
                width: 0.9em;
            }
        }
    }
}

.unverified {
    color: #BBB;
}
.lock-icon {
    display: inline-block;
    vertical-align: baseline;
    height: 0.9em;
}

.registration-link-container {
    text-align: right;
    padding: 0.6rem;
    a {
        text-decoration: none;
    }
}
.registration-back {
    margin-top: 6rem;
    padding: 0.6rem;
    padding-bottom: 0.2rem;
    a {
        text-decoration: none;
    }
}